/* event view subject header */

/* .e-schedule .e-appointment-details {
    padding: 0 !important;
} */

/* .e-schedule .e-date-header-wrap .e-schedule-table thead {
    display: none;
    padding-left: 0px;
    margin-left: 0px;
} */

/* hide specific fields in the editor window */
/* .e-location-container,
.e-time-zone-container,
.e-description-row {
    display: none;
} */

/**hide the recurrence editor field**/
/* .e-recurrenceeditor .e-editor { 
  display: none; 
}  */

/* editor window header text */
.e-schedule-dialog .e-dlg-header-content .e-dlg-header .e-title-text {
    font-size: 20px;
    /* color: #f52887; */
    padding-left: 0px;
    margin-left: 0px;
}

.events_refreshing_backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /*backdrop background color*/
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .events_refreshing_backdrop {
        width: 100%;
        height: 92vh;
        background: rgba(0, 0, 0, 0.5); /*backdrop background color*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
