/*react-bootstrap-table-2 css styling starts here*/

/*state of table in overlay mode or loading mode*/
.table_overlays {
    background-color: transparent; /*background color of the table*/
}

.table_containers {
    background: transparent;
    margin-top: -40px;
}

.wrapper_classs {
    /* background-color: yellow; */
}

.header_classs {
    background-color: pink;

    /*hide column headers*/
    visibility: hidden;
}

.header_wrapper_classs {
    /* font-size: 30px; */
    border: 2px solid transparent;
}

.body_classs {
    /* background: green; */
}

.row_classs {
    /* background: orange; */
}

.id_header_style {
    /* background: red; */
}

/*react-bootstrap-table-2 css styling ends here*/

.dropdown_fab_containers {
    display: flex;
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10;
}

.fabs {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #996600;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px -1px 20px 0px gray;
}

/* mobile screen */
@media screen and (max-width: 960px) {
    .pagesetups {
        font-size: smaller;
    }

    .somecols {
        /* padding-left: 10px;
        padding-right: 15px; */
    }

    .dropdown_fab_containers {
        display: flex;
        width: 100%;
        background-color: transparent;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10;
    }

    .fabs {
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #996600;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -1px -1px 20px 0px gray;
    }

    .wholepage {
        background-color: transparent;
        overflow: visible;
    }
}
